<template>
<div>
  <section style="position:relative;z-index:1">
<div class="row" >


  <div class="col-md-5">
    <div class="col-md-11 card">
      <div class="card-body">
        <div class="form-group">
          <label>Müşteri Adı</label> <input type="text" class="form-control" v-model="musteri.adi" placeholder="İsim">
          <label>Müşteri Soyadı</label> <input type="text" class="form-control" v-model="musteri.soyadi" placeholder="Soyisim">
          <label>Müşteri Email</label> <input type="text" class="form-control" v-model="musteri.email" placeholder="Email">
          <label>Müşteri Telefon</label> <input type="text" class="form-control" v-model="musteri.telefon" placeholder="Telefon">
          <label>Randevu Tarih</label><input type="text" class="form-control" v-model="musteri.tarih" placeholder="Tarih">
          <label>Randevu Adresi</label><input type="text" class="form-control" v-model="musteri.adres" placeholder="ADRES" ref="autocomplete">
        </div>
        <div class="row">
          <div class="form-group col-md-6">




          </div>
          <div class="form-group col-md-6">
            <button class="btn btn-outline-info btn-block" @click="locatorButtonPressed">LOCATER</button>
          </div>
        </div>
        <button class="btn btn-outline-info btn-block" @click="randevuOlustur">Randevu OLUŞTUR</button>
      </div>
    </div>
  </div>
</div>
  </section>
  <section id="map" ref="map"></section>
</div>
</template>

<script>
import axios from "axios";


  export default{
    data() {
      return {

        musteri : {
            adi: "fahreddin",
            soyadi: "tokatlı",
            email: "a@b.com",
            telefon: "05332366363",
            adres : null,
            lat:null,
            long:null,
            tarih: null

        }
      }
    },
    mounted() {
      var autocomplete = new google.maps.places.Autocomplete(
        this.$refs["autocomplete"],
        {
          bounds: new google.maps.LatLngBounds(
            new google.maps.LatLng(45.4215296, -75.6971931)
          ),
        }
      );

      autocomplete.addListener("place_changed", () => {
        var place = autocomplete.getPlace();
        this.getAddressFrom(
          place.geometry.location.lat(),
          place.geometry.location.lng()
        );
        this.showLocationOnTheMap(
          place.geometry.location.lat(),
          place.geometry.location.lng()
        );
      });
    },

    methods: {
      onChange(e) {
        /*const file = e.target.files[0];
        this.product.selectedImage = URL.createObjectURL(file);*/
      },
      randevuOlustur(){
        //this.product.totalPrice=this.product.count * this.product.price;

        //eventBus.$emit("randevuOlustu",this.musteri);

        console.log(this.musteri)
        this.$store.dispatch("randevuEkle", { randevu : this.musteri  })
            .then(response => {

               this.$router.push("/Randevular").catch(()=>{})

            })
        /*this.product =  {
            title: null,
            count : null,
            price: null,
            totalPrice: null,
            selectedImage: null
        }*/
      },
      locatorButtonPressed() {
        this.spinner = true;

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            (position) => {
              this.getAddressFrom(
                position.coords.latitude,
                position.coords.longitude
              );

              this.showLocationOnTheMap(
                position.coords.latitude,
                position.coords.longitude
              );
            },
            (error) => {
              this.error =
                "Locator is unable to find your address. Please type your address manually.";
              this.spinner = false;
              // console.log(error.message);
            }
          );
        } else {
          this.error = error.message;
          this.spinner = false;
          console.log("Your browser does not support geolocation API ");
        }
      },
      getAddressFrom(lat, long) {
        axios
          .get(
            "https://maps.googleapis.com/maps/api/geocode/json?latlng=" +
              lat +
              "," +
              long +
              "&key=AIzaSyBwaTNVFhQkHT-wgktxK3FBMt0LYDY63HE"
          )
          .then((response) => {
            if (response.data.error_message) {
              this.error = response.data.error_message;
              console.log(response.data.error_message);
            } else {
              this.musteri.adres = response.data.results[0].formatted_address;
              this.musteri.lat=lat;this.musteri.long=long;
              // console.log(response.data.results[0].formatted_address);
            }
            this.spinner = false;
          })
          .catch((error) => {
            this.error = error.message;
            this.spinner = false;
            console.log(error.message);
          });
      },

      showLocationOnTheMap(latitude, longitude) {
        // Show & center the Map based oon
        var map = new google.maps.Map(this.$refs["map"], {
          zoom: 15,
          center: new google.maps.LatLng(latitude, longitude),
          mapTypeId: google.maps.MapTypeId.ROADMAP,
        });

        new google.maps.Marker({
          position: new google.maps.LatLng(latitude, longitude),
          map: map,
        });
      }
    }
  }
</script>
<style>
#map {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
</style>
