<template>
  <div v-if="randevuListesi.length > 0">
  <h3 class="text-center">Randevuların Listesi</h3>
  <hr>
  <div class="container">
    <table style="width:100%" border="1">
      <tr>
        <td><strong>ADI</strong></td><td><strong>SOYADI</strong></td><td><strong>EMAIL</strong></td><td><strong>ADRES</strong></td><td><strong>LAT</strong></td><td><strong>LONG</strong></td>
      </tr>
    <tr v-for="randevu in randevuListesi"  >
      <td> {{ randevu.adi }}</td><td> {{ randevu.soyadi }}</td><td> {{ randevu.email }}</td><td> {{ randevu.adres }}</td><td> {{ randevu.lat }}</td><td> {{ randevu.long }}</td>
    </tr>
  </table>


  </div>


  <button
    class="button primary"
    @click="calculateButtonPressed"
  >ROTALARI GÖSTER</button>



<HaritaGorunum />
</div>
<div v-else class="container">
<center><h2> Henüz Randevu Kaydınız Yok.</h2></center>

</div>

</template>

<script>
import axios from "axios";
import HaritaGorunum from "./HaritaGorunum.vue";
import RandevuTemp from "./RandevuTemplate.vue";
import { EventBus } from "../EventBus.js";

export default{
  components:{
    appRandevu : RandevuTemp, HaritaGorunum
  },
  data(){
    return {
      randevuListesi:[],
      routeList:[],
      route: {
        origin: {
          address:"10039. Sk. No:10, 35620 Atatürk Osb/Çiğli/İzmir",
          lat:38.498825,
          lng:27.030717,
        },
        destination: {
          address: "",
          lat: 0,
          lng: 0,
        },
        distance: {},
        duration: {},
        color:"",
      },
      error: "",
      spinner: false,

    }
  },
  created(){
    this.randevuListesi=this.$store.getters.randevulariAl;
    this.randevuListesi.forEach((value,index)=>{
      //this.positionHesapla(value);
      this.positionHesapla(value);
    });
/*
    eventBus.$on("randevuOlustu",(randevu)=>{

      if(this.randevuListesi.length<10){
        this.randevuListesi.push(randevu);
        //eventBus.$emit("progressBarUpdated",this.productList.length);
      }else{
        alert("DAHA FAZLA RANDEVU EKLEYEMEZSİNİZ!!!");
      }


    });*/
  },
  methods:{

    calculateButtonPressed() {

    //  console.log(this.randevuListesi);

      //this.randevuListesi.forEach((value, index) => {this.positionHesapla(value);});
      /*for (var i = 0; i < this.randevuListesi; i++) {
        this.positionHesapla(this.randevuListesi[i]);
      }*/



    EventBus.$emit("routes-data", this.routeList);

    },

    positionHesaplas(item){

      this.route.color=this.getRandomColor();
      console.log(this.route.color);
      this.routeList.push(this.route);
      //console.log(this.routeList);
    },

    positionHesapla(item){



      //const URL = `https://cors-anywhere.herokuapp.com/https://maps.googleapis.com/maps/api/distancematrix/json?origins=${this.route.origin.lat},${this.route.origin.lng}&destinations=${item.lat},${item.long}&key=AIzaSyBwaTNVFhQkHT-wgktxK3FBMt0LYDY63HE`;
      const URL = `https://cors-anywhere.herokuapp.com/https://maps.googleapis.com/maps/api/distancematrix/json?origins=${this.route.origin.lat},${this.route.origin.lng}&destinations=${item.lat},${item.long}&key=AIzaSyBwaTNVFhQkHT-wgktxK3FBMt0LYDY63HE`;
      axios
        .get(URL)
        .then((response) => {
          if (response.data.error_message) {
            this.error = response.data.error_message;
          } else {
            const elements = response.data.rows[0].elements;

            if (elements[0].status === "ZERO_RESULTS") {
              this.error = "No Results Found.";
                console.log(this.error);
            } else {
              this.route= {
                origin: {
                  address:"10039. Sk. No:10, 35620 Atatürk Osb/Çiğli/İzmir",
                  lat:38.498825,
                  lng:27.030717,
                },
                destination: {
                  address: item.adres,
                  lat: item.lat,
                  lng: item.long,
                },
                distance: elements[0].distance,
                duration: elements[0].duration,
                color:this.getRandomColor(),
              };


              this.routeList.push(this.route);
              console.log("girdi");
            }
            this.spinner = false;
          }
        })
        .catch((error) => {
          this.routeList.push(this.route);
          console.log(error.message);
          this.error = error.message;
          this.spinner = false;
        });
    },

    getRandomColor() {
      let characters = "0123456789ABCDEF";
      let color = "#";
      for (let i = 0; i < 6; i++) {
        color += characters[Math.floor(Math.random() * 16)];
      }
      return color;
    }

  }

}



</script>
