<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow mb-5" style="z-index:1">
        <a class="navbar-brand" href="#">ICEBERG</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <router-link class="nav-item" tag="li" to="/">
                    <a class="nav-link" href="#">Anasayfa</a>
                </router-link>
                <router-link class="nav-item" tag="li" to="/yeniRandevu">
                    <a class="nav-link" href="#">Randevu Oluştur</a>
                </router-link>
                <router-link class="nav-item" tag="li" to="/Randevular">
                    <a class="nav-link" href="#">Randevular</a>
                </router-link>
            </ul>
            <ul class="navbar-nav my-2 my-lg-0" :class="logoutClass">
                <li class="nav-item">
                    <a @click.prevent="logout" class="nav-link" href="#">Çıkış Yap</a>
                </li>
            </ul>
        </div>
    </nav>
</template>
<script>
    export default {
        methods: {
            logout() {
                this.$store.dispatch("logout")
            }
        },
        computed: {
            logoutClass() {
                return {
                    'd-none': !this.$store.getters.isAuthenticated
                }
            }
        }
    }
</script>
